<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial da Coleção</h2>
        <a href="/colecao/create" class="btn btn-primary">Cadastrar nova Coleção</a>
    </section>
</section>

<hr>

  <!-- Seção de Categorias -->
  <section id="categorias" class="bg-light py-5 my-4">
    <div class="container">
      <h2 class="text-center section-header mb-4">Categorias</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Estratégia</h5>
              <p class="card-text">Jogos que exigem raciocínio e planejamento estratégico.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Festa</h5>
              <p class="card-text">Jogos divertidos para grandes grupos de amigos.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Familiares</h5>
              <p class="card-text">Jogos para toda a família se divertir junta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>