<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial da Coleção</h2>
        <a href="/colecao/create" class="btn btn-primary">Cadastrar nova Coleção</a>
    </section>
</section>

<hr>

  <!-- Seção de Categorias -->
<section class="container my-4">
  <div class="row">
      {{#each dados}}
      <div class="col-md-3 mb-4">
          <div class="card shadow-sm h-100 bgc-dark">
              <div class="card-body">
                  <p class="card-title"><strong>Coleção:</strong> {{dataValues.nome}}</p>
                  <p class="card-text"><strong>Descrição:</strong> {{dataValues.descricao}}</p>
                  <p class="card-text"><strong>Categoria:</strong> {{dataValues.categoria}}</p>
                  <div class="d-flex justify-content-center">
                      <a href="" class="btn btn-sm btn-primary pt-2 px-3" data-bs-toggle="modal"
                          data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                  </div>
              </div>
          </div>
      </div>

      {{>modalDelete idItem = dataValues.id}}

      {{/each}}
  </div>
</section>